<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - VirtualJA</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />

        @Scripts.Render("~/bundles/modernizr")
        @Styles.Render("~/Scripts/bootstrap/css/bootstrap")
        @Styles.Render("~/css")
    </head>
    <body>
        <header id="header">
            <div class="container-fluid">
                <div class="row-fluid">
                    <div class="span7">
                        <h3>@Html.ActionLink("VirtualJA", "index", "home")</h3>
                    </div>
                    <div class="span5">
                        <span class="pull-right">
                            @Html.Partial("_LoginPartial")
                        </span>
                    </div>
                </div>
            </div>
        </header><!--End Header-->

        <nav id="nav">
            <div class="container-fluid">
                <ul>
                    <li>@Html.ActionLink("Home", "index", "home")</li>
                    <li>@Html.ActionLink("About", "about", "home")</li>
                    <li>@Html.ActionLink("Contact", "contact", "home")</li>
                </ul>
            </div>
        </nav><!--End Nav-->

        <div id="main">
            <div class="container-fluid">
                @RenderBody()
            </div>
        </div><!--End Main-->

        <footer id="footer">
            <div class="container-fluid">
                Copyright &copy; @DateTime.Now.Year VirtualJA
            </div>
        </footer><!--End Footer-->

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/Scripts/bootstrap/js/bootstrap")
        @Scripts.Render("~/bundles/scripts")
    </body>
</html>