@model VirtualJam.Models.ChangePasswordModel

@{
    ViewBag.Title = "Change Password";
}

<p class="alert alert-info">
    Passwords must be at least @Membership.MinRequiredPasswordLength characters long.
</p>

@using (Html.BeginForm("changepassword", "account", FormMethod.Post, new {@class="form-horizontal"})) {
    @Html.ValidationSummary()

    <legend>Change Password</legend>
    
    <div class="control-group">
        @Html.LabelFor(m => m.OldPassword, new { @class="control-label" })
        <div class="controls">
            @Html.PasswordFor(m => m.OldPassword)                
        </div>
    </div>

    <div class="control-group">
        @Html.LabelFor(m => m.NewPassword, new {@class = "control-label"})
        <div class="controls">
            @Html.PasswordFor(m => m.NewPassword)                
        </div>
    </div>
    
    <div class="control-group">
        @Html.LabelFor(m => m.ConfirmPassword, new {@class="control-label"})
        <div class="controls">
            @Html.PasswordFor(m => m.ConfirmPassword)                
        </div>
    </div>
    
    <div class="control-group">
        <div class="controls">
            <input type="submit" class="btn" value="Change password" />
        </div>
    </div>
}