@model VirtualJam.Models.LoginModel

@{
    ViewBag.Title = "Log In";
}

<div id="content">
    
    @using (Html.BeginForm((string)ViewBag.FormAction, "account", new { ReturnUrl = ViewBag.ReturnUrl }, 
            FormMethod.Post, new { @class = "form-horizontal" }))
    {
    
    @Html.ValidationSummary(true, "Log in was unsuccessful. Please correct the errors and try again.", new { @class = "alert alert-error" })

        <div>
            <fieldset>
                <legend><span style="font-family: serif;">Log In</span></legend>
            
                <div class="control-group">
                    @Html.LabelFor(m => m.UserName, new { @class = "control-label margin10-right" })
                    <div class="controls no-margin">
                        @Html.TextBoxFor(m => m.UserName)
                        @Html.ValidationMessageFor(m => m.UserName, "", new {@class = "text-error"})
                    </div>
                </div>

                <div class="control-group">
                    @Html.LabelFor(m => m.Password, new { @class = "control-label margin10-right" })
                    <div class="controls no-margin">
                        @Html.PasswordFor(m => m.Password)
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-error" })
                    </div>
                </div>
            
                <div class="control-group">
                    <div class="controls">
                        <label class="checkbox" style="margin-left: -10px;">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe)
                        </label>
                        <input class="btn" style="margin-left: -10px;" type="submit" value="Log In" />
                    </div>
                </div>
            </fieldset>
        </div>
    }

    @*
    @using (Html.BeginForm("login", "account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, 
                           new {@class="form-horizontal"}))
    {
        @Html.ValidationSummary(true, "Log in was unsuccessful. Please correct the errors and try again.")

        <legend>Log In</legend>
        <div class="control-group">
            @Html.LabelFor(m => m.UserName, new { @class = "control-label" })
            <div class="controls">
                @Html.TextBoxFor(m => m.UserName)
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(m => m.Password, new{@class="control-label"})
            <div class="controls">
                @Html.PasswordFor(m => m.Password)
                <br/>
                @Html.CheckBoxFor(m => m.RememberMe)
                @Html.LabelFor(m => m.RememberMe)
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <input type="submit" class="btn" value="Log in" />
            </div>
        </div>

        <p>
            @Html.ActionLink("Register", "Register") if you don't have an account.
        </p>
    }
    *@
</div>
        