<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - VirtualJam</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <link href='http://fonts.googleapis.com/css?family=Sansita+One' rel='stylesheet' type='text/css'>
        <meta name="viewport" content="width=device-width" />

        @Scripts.Render("~/bundles/modernizr")
        @Styles.Render("~/Scripts/bootstrap/css/bootstrap")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/Scripts/bootstrap/js/bootstrap")
        @Styles.Render("~/css/style")
        
        <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>
    <body>
        <header id="header">
            <div class="container-fluid">
                <div class="row-fluid">
                    <div class="span7">
                        <h1><a href="/">VirtualJam</a></h1>
                    </div>
                    <div class="span5">
                        <span class="pull-right authorize">
                            @Html.Partial("_LoginPartial")
                        </span>
                    </div>
                </div>
            </div>
        </header><!--End Header-->

        <nav id="nav">
            <div class="container-fluid">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/maps">Maps</a></li>
                    <li><a href="/home/about">About</a></li>
                    <li><a href="/home/contact">Contact</a></li>
                </ul>
            </div>
        </nav><!--End Nav-->

        <div id="main">
            <div class="container-fluid">
                @RenderBody()
            </div>
        </div><!--End Main-->

        <footer id="footer">
            <div class="container-fluid">
                <div class="row-fluid">
                    <span class="span4">
                        <h4><a href="/" class="sitename">VirtualJam 2012</a></h4>
                    </span>
                    <span class="span4">
                        @*Content Placesholder*@
                    </span>
                    <span class="span4">
                        @*Content Placesholder*@
                    </span>
                </div>
            </div>
        </footer><!--End Footer-->
        
        <div class="copyright">
            <div class="container-fluid">
                Copyright &copy; @DateTime.Now.Year VirtualJam
            </div>
        </div>

        @Scripts.Render("~/bundles/scripts")
    </body>
</html>